
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    background-color: whitesmoke;
    text-align : start;
    background-image: url(img/apple-touch-icon.png);
}

footer {
    padding : auto;
}

header {
    margin : auto;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: deeppink;
    text-decoration: none;
}

p {
    color: darkmagenta;
    font-size : 1.5em;
}

h1 {
    font-size : 12px;
}

h2 {
    font-size : 1.5rem;
}
